@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  color: white; }

.container-fluid {
  background-color: white; }

.navbar-nav {
  text-align: center; }

.nav-item a {
  color: black; }

.acordeon {
  width: 800px;
  height: 330px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5%;
  border: solid 2px black;
  box-shadow: 3px 5px 20px 0px; }

.fondoacordeon {
  padding-top: 20px; }

.destacadoenespaña {
  text-align: center;
  color: #e61a1a;
  font-weight: 600; }

.accordion-body a {
  text-decoration: none;
  color: black; }

/**----------------------footer DE ESTILOS POR ERAS------------------------------------*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
.carousel-inner div img {
  height: 500px;
  background-size: cover;
  background-position: center; }

.carousel-itemactive {
  height: 350px; }

.movimientos h2 {
  color: #e61a1a;
  -webkit-text-stroke: 1px black; }

.movimientos h2:hover {
  color: transparent; }

.carousel-item img {
  border-radius: 100px 100px 10px 10px;
  box-shadow: 0px 9px 30px 0;
  margin-bottom: 70px;
  width: 100%;
  height: 60vh; }

.hero {
  background-image: url(../img/RockEsp_big-1.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 5px 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 1px 1px);
  margin-bottom: 20px; }
  .hero h1 {
    margin-bottom: 20px;
    font-size: 80px; }
  .hero .herocaja p {
    margin-bottom: 40px;
    font-size: 20px; }
  .hero .herocaja a {
    text-decoration: none;
    background-color: rgba(238, 162, 127, 0.685);
    border-radius: 20px;
    color: black;
    font-size: 20px; }

.todocambiohero h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px; }

.todocambiohero .primerTramo {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .todocambiohero .primerTramo img {
    width: 350px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 20px 10px 10px 0 rgba(0, 0, 0, 0.3);
    margin-left: 150px; }
  .todocambiohero .primerTramo p {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    padding-left: 150px;
    padding-right: 150px; }

.todocambiohero .segundoTramo {
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px; }
  .todocambiohero .segundoTramo p {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    padding-left: 150px;
    padding-right: 150px; }
  .todocambiohero .segundoTramo img {
    width: 350px;
    height: 200px;
    border-radius: 8px;
    box-shadow: -30px 10px 10px 0 rgba(0, 0, 0, 0.3);
    margin-right: 150px;
    display: inline-block; }

.movimientos {
  height: 90vh;
  padding-top: 30px;
  margin-bottom: 100px; }
  .movimientos h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px; }
  .movimientos .etiquetas.nuevaclass .nuevaclass1 {
    display: flex;
    justify-content: space-around;
    margin-left: 30px; }
    .movimientos .etiquetas.nuevaclass .nuevaclass1 div img {
      width: 200px;
      height: 200px;
      border-radius: 5%;
      box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid black; }
    .movimientos .etiquetas.nuevaclass .nuevaclass1 div h3 {
      text-align: center; }
    .movimientos .etiquetas.nuevaclass .nuevaclass1 div a {
      text-decoration: none;
      margin-left: 55px;
      margin-top: 5px;
      background-color: #459c9c;
      color: white;
      border-radius: 5px; }

.rockgallery {
  display: grid;
  grid-auto-rows: 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  width: 80%;
  margin-left: 30px;
  height: 90vh;
  padding-top: 150px; }
  .rockgallery div {
    text-align: center; }
  .rockgallery .primer-item {
    grid-row-start: 1;
    grid-row-end: 3; }
  .rockgallery .segundo-item {
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 1px 1px 10px 0 black; }
  .rockgallery .tercer-item img {
    position: absolute;
    top: 230px;
    left: 925px; }
  .rockgallery .cuarto-item {
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 60px;
    color: #e61a1a;
    font-weight: 600;
    -webkit-text-stroke: 1px black; }
    .rockgallery .cuarto-item p {
      text-align: left; }
      .rockgallery .cuarto-item p:hover {
        font-weight: 600;
        -webkit-text-stroke: 1px black;
        color: transparent;
        text-align: left; }
  .rockgallery .quinto-item img {
    background-size: cover;
    background-position: center; }
  .rockgallery .noveno-item img {
    padding-bottom: 5px;
    padding-top: 0; }

.enlacesmusicales div {
  display: flex;
  justify-content: space-around; }
  .enlacesmusicales div .enlacesmusicalesuno {
    display: flex;
    flex-direction: column; }
    .enlacesmusicales div .enlacesmusicalesuno a {
      color: transparent;
      font-size: 40px;
      text-decoration: none;
      -webkit-text-stroke: 1px red;
      padding-top: 15px; }
      .enlacesmusicales div .enlacesmusicalesuno a:hover {
        color: #e61a1a;
        text-shadow: 3px 3px 6px; }
  .enlacesmusicales div div p {
    font-size: 40px;
    font-weight: 600;
    padding-top: 50px;
    color: #e61a1a;
    text-shadow: 1px 1px 30px; }
  .enlacesmusicales div .enlacesmusicalesdos {
    display: flex;
    flex-direction: column; }
    .enlacesmusicales div .enlacesmusicalesdos a {
      color: transparent;
      font-size: 40px;
      text-decoration: none;
      -webkit-text-stroke: 1px red;
      padding-top: 15px; }
      .enlacesmusicales div .enlacesmusicalesdos a:hover {
        color: #e61a1a;
        text-shadow: 3px 3px 6px; }

.cuerposetenta {
  display: flex; }
  .cuerposetenta .descripcionsetenta {
    width: 1000px;
    text-align: justify;
    margin: 10px 50px 20px 50px; }
    .cuerposetenta .descripcionsetenta .fotosentetauno {
      float: left;
      border-radius: 5px;
      box-shadow: 3px 3px 9px 0;
      margin: 5px; }
    .cuerposetenta .descripcionsetenta .fotosentetados {
      float: right;
      border-radius: 5px;
      box-shadow: 3px 3px 9px 0;
      margin: 5px; }
    .cuerposetenta .descripcionsetenta .fotosentetatres {
      float: left;
      border-radius: 5px;
      box-shadow: 3px 3px 9px 0;
      margin: 5px; }
    .cuerposetenta .descripcionsetenta .fotosentetacuatro {
      float: right;
      border-radius: 5px;
      box-shadow: 3px 3px 9px 0;
      margin: 5px; }
    .cuerposetenta .descripcionsetenta .fotosentetacinco {
      float: left;
      border-radius: 5px;
      box-shadow: 3px 3px 9px 0;
      margin: 5px; }
  .cuerposetenta .postersetenta {
    padding-top: 100px; }
    .cuerposetenta .postersetenta img {
      box-shadow: 3px 3px 9px 0; }

.aprende {
  text-align: center;
  font-size: 40px;
  color: #e61a1a;
  font-weight: 900;
  padding-top: 5px; }

.aprendizajezombie {
  padding-top: 30px;
  margin: 20px;
  height: 1000px;
  background: linear-gradient(to right, rgba(127, 255, 212, 0.233), white);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 75px; }
  .aprendizajezombie .divisionzombie {
    margin: 10px; }
    .aprendizajezombie .divisionzombie .tarjeta01 {
      background-color: white;
      border: solid 2px black;
      width: 300px;
      height: 450px;
      border-radius: 5%;
      box-shadow: 3px 5px 20px 1px;
      margin: 5px; }
      .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0101 {
        width: 296px;
        height: 168px;
        border-radius: 10px;
        background-image: url(https://imagenes.elpais.com/resizer/cGNo_HonnlTVLhwAP47Fjxkbb2Y=/1200x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/U7HLAKOWTBH6HJK6VPCYRLUSMM.jpg);
        background-position: center;
        background-size: cover; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0101 h3 {
          padding: 50px;
          color: white;
          text-align: center; }
      .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0201 {
        display: flex; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0201 div {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0201 div h3 {
            font-size: 20px; }
          .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0201 div p {
            font-size: 14px; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0201 a img {
          width: 82px;
          height: 82px;
          margin: 3px;
          border-radius: 10px; }
      .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0301 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin: 3px; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0301 a img {
          width: 82px;
          height: 82px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0301 div {
          flex-direction: column;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0301 div h3 {
            font-size: 20px; }
          .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0301 div p {
            font-size: 14px; }
      .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0401 {
        display: flex; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0401 div {
          align-items: center;
          justify-items: start;
          margin: 3px;
          flex-direction: column;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0401 div h3 {
            font-size: 20px; }
        .aprendizajezombie .divisionzombie .tarjeta01 .tarjeta0401 a img {
          margin: 3px;
          border-radius: 10px; }
    .aprendizajezombie .divisionzombie .tarjeta02 {
      background-color: white;
      border: solid 2px black;
      width: 300px;
      height: 450px;
      border-radius: 5%;
      box-shadow: 3px 5px 20px 1px; }
      .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0102 {
        display: flex; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0102 div {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0102 div h3 {
            font-size: 20px; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0102 a img {
          margin: 3px;
          border-radius: 10px; }
      .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0202 {
        display: flex;
        align-items: center; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0202 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0202 div {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          align-content: center;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0202 div h3 {
            font-size: 22px; }
      .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0302 {
        display: flex; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0302 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0302 div {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .aprendizajezombie .divisionzombie .tarjeta02 .tarjeta0302 div h3 {
            font-size: 25px; }
  .aprendizajezombie .divisionzombieDos {
    margin: 10px; }
    .aprendizajezombie .divisionzombieDos .tarjeta03 {
      border: solid 2px black;
      width: 300px;
      height: 450px;
      border-radius: 5%;
      background-color: white;
      border: solid 2px black;
      width: 300px;
      height: 450px;
      border-radius: 5%;
      box-shadow: 3px 5px 20px 1px;
      margin: 5px; }
      .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0103 {
        width: 296px;
        height: 166px;
        border-radius: 13px 13px 10px 10px;
        background-image: url(https://static.spin.com/files/131009-Nirvana.jpg);
        background-position: center;
        background-size: cover; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0103 h3 {
          font-size: 30px;
          padding: 50px;
          color: white;
          text-align: center; }
      .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0203 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0203 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0203 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0203 div h3 {
            font-size: 24px; }
      .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0303 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0303 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0303 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-top: 8px; }
          .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0303 div h3 {
            font-size: 25px; }
      .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0403 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0403 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0403 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombieDos .tarjeta03 .tarjeta0403 div h3 {
            font-size: 22px; }
    .aprendizajezombie .divisionzombieDos .tarjeta04 {
      background-color: white;
      border: solid 2px black;
      width: 300px;
      height: 450px;
      border-radius: 5%;
      border: solid 2px black;
      box-shadow: 3px 5px 20px 1px; }
      .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0104 {
        background-image: url(https://www.ultimate-guitar.com/static/article/news/9/46519_0_wide_ver0.jpg);
        width: 296px;
        height: 166px;
        border-radius: 13px 13px 10px 10px;
        background-position: center;
        background-size: cover; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0104 h3 {
          font-size: 30px;
          padding: 50px;
          color: white;
          text-align: center; }
      .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0204 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0204 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0204 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-top: 10px;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0204 div h3 {
            font-size: 20px; }
      .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0304 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0304 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0304 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-top: 10px;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0304 div h3 {
            font-size: 20px; }
      .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0404 {
        display: flex; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0404 a img {
          margin: 3px;
          border-radius: 10px; }
        .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0404 div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-top: 10px;
          padding-left: 3px; }
          .aprendizajezombie .divisionzombieDos .tarjeta04 .tarjeta0404 div h3 {
            font-size: 15px; }

.contacto {
  display: flex;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  margin-bottom: 90px;
  height: 80vh; }
  .contacto .gifrock {
    display: block;
    box-shadow: 4px 6px 15px 0; }
    .contacto .gifrock img {
      border-radius: 5px; }
  .contacto .zombieform {
    width: 33%;
    background-color: rgba(122, 120, 120, 0.027);
    box-shadow: 4px 4px 6px 0; }
    .contacto .zombieform fieldset .legend {
      font-size: 30px;
      margin-bottom: 8px;
      font-weight: 900;
      color: #e61a1a; }
    .contacto .zombieform fieldset .detalles div .form.text {
      margin: 8px 0 8px 0;
      text-align: center;
      color: #e61a1a;
      text-decoration: underline; }
    .contacto .zombieform fieldset .detalles div label {
      font-weight: 800; }
    .contacto .zombieform fieldset .detalles textarea {
      display: block;
      width: 100%;
      height: 90px; }
    .contacto .zombieform fieldset .detalles button {
      font-size: 15px;
      margin: 1px; }
      .contacto .zombieform fieldset .detalles button:hover {
        color: red; }

.descripcionzombie {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .descripcionzombie .zombiefloat {
    padding-left: 20px;
    width: 600px; }
    .descripcionzombie .zombiefloat img {
      width: 150px;
      height: 100px;
      border: 2px solid black;
      float: left;
      margin: 3px;
      box-shadow: 4px 4px 6px 0;
      border-radius: 5px; }
    .descripcionzombie .zombiefloat .bandas img {
      float: right;
      margin: 3px;
      box-shadow: 4px 4px 6px 0;
      border-radius: 5px; }
  .descripcionzombie .mapazombie {
    float: right;
    margin: 3px;
    box-shadow: 4px 4px 6px 0;
    border-radius: 5px; }
    .descripcionzombie .mapazombie iframe {
      width: 300px;
      height: 300px;
      padding-right: 20px;
      padding-left: 0;
      box-shadow: 4px 4px 6px 0;
      border-radius: 5px; }
