@media screen and (max-width: 768px){

    .movimientos{
        margin-bottom: 350px;
    }


    .primerTramo {

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* margin-top: 1px; */
        margin-bottom: 30px;
    }

    
    .primerTramo img {
        margin: 0 auto;
        height: 200px;
        border-radius: 8px;
        box-shadow: 20px 10px 10px 0 rgba(0, 0, 0, 0.30);
        margin-bottom: 20px;
    } 
    
    .primerTramo p {
        text-align: center;
        text-shadow: 1px 1px 10px black;
        margin-bottom: 15px;

    } 

    .segundoTramo{

        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

    }
    .segundoTramo img {
        margin: 0 auto;
        height: 200px;
        border-radius: 8px;
        box-shadow: 20px 10px 10px 0 rgba(0, 0, 0, 0.30);
        margin-bottom: 10px;
    } 

    .segundoTramo p {
        text-align: center;
        text-shadow: 1px 1px 10px black;

    } 

    .etiquetas {
        display: flex;
        flex-direction: column;
    
    }
    .dosflex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .dosflexdos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    /*----------------------------------------------pagina zombiedaddy---------------------------------*/

    .apredizajezombie{
        margin-bottom: 100px;
    }

    .divisionzombie{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .divisionzombieDos{
        display: flex;
        justify-content: center;
        margin-bottom: 20px
    }
    .acordeon{
        width: 70%;
    }

    .postersetenta{
        display: none;
    }

    .rockgallery{
        display: grid;
        width: 100%;
        grid-template-rows: 100px ;
        grid-template-columns: 160px 160px;
        margin: 0 auto;
        margin-bottom: 100px;

    }
    .rockgallery .tercer-item{
        display: none;
    }

    .carousel-inner{
        border-radius: 20% 20% 20% 20%;
        box-shadow: 0 5px 9px 0;
    }
    .carousel-item{
        width: 100%;
        height: 80vh;
        box-shadow: 0 5px 9px 0;
  
    }
    .carousel-item img{
        box-shadow: 0 5px 9px 0;
    }
    .etiquetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 265px 265px; 
        gap: 20px;      
    }
    .etiquetas div{
        margin: 0 auto;
    }
    .etiquetas div img{
        align-content: start;
    }
    .movimientos h2{
        color: #e61a1a;
        text-shadow: 1px 1px 15px #e61a1a
    }
    .movimientos h2:hover{
        color: transparent;
        text-shadow: 1px 1px 15px black;
        -webkit-text-stroke: 1px #4b4c4d;
    }


    /*------MEDIA QUERY CONTACTO--------------------------*/

    .gifrock{
        display: none;
    }
    .descripcionzombie{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

    
@media screen and (max-width: 360px){
    .hero{
        height: 100%;
        margin-bottom: 30px;
    }
    /* .herocaja{
        display: flex;
    } */
    .hero div h1{
        font-size: 30px;
    }
    .hero div p{
        // display: none;
        font-size: 20px;
        text-align: 100%;
        justify-content: center;
    }
    .hero div a{
        height: 100%;
        display: inline;
        position: relative;
    }

    .todocambiohero{   
        display: flex;
        flex-direction: column;
        width: 358px;
        h2{
            margin-bottom: 50px;
            font-size: 30px;
        }
        div{
            display: flex;
            flex-direction: column;
            /* width: 350px; */
            margin-bottom: 50px;
        }

            img{
                margin: 0 auto;
                height: 150px;
                width: 250px;
                border-radius: 8px;
                box-shadow: 20px 10px 10px 0 rgba(0, 0, 0, 0.30);
                margin-bottom: 20px;
            }
            p{
                text-shadow: 1px 1px 10px black; 
                padding: 0;
                font-size: 15px;
                text-align: center 
            }
        }





    .segundoTramo {

        display: flex;
        flex-direction: column-reverse;
        /* width: 350px; */
        margin-bottom: 30px;

        img {
            margin: 0 auto;
            height: 150px;
            width: 250px;
            border-radius: 8px;
            box-shadow: 20px 10px 10px 0 rgba(0, 0, 0, 0.30);
            margin-bottom: 20px;
        } 
        p {
            text-shadow: 1px 1px 10px black; 
            padding: 0;
            font-size: 15px;
            text-align: center
        } 

    }


/**-------------------------NUEVACLAS INDEX-------------------------*/

    .nuevaclass{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }
    .nuevaclass1{
        display: flex;
        flex-direction: column;

    }
    /* .nuevaclass2{
        display: flex;
        flex-direction: column;
    } */





    .movimientos {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        margin-bottom: 750px;
    }
    .movimientos h2{
        margin-bottom: 50px;
    }
    

    .etiquetas {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .etiquetas div{
        margin: 0 auto;

    }
    /* .etiquetas div img{
        align-content: start;
    } */
    .movimientos h2{
        color: #e61a1a;
        text-shadow: 1px 1px 15px #e61a1a;
        margin-bottom: 500px;
        font-size: 30px;
    }
    .movimientos h2:hover{
        color: transparent;
        text-shadow: 1px 1px 15px black;
        -webkit-text-stroke: 1px #4b4c4d;
    }
    
    .dosflex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .dosflexdos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;
    }
/*---------------------------------------------------media querie zombiedaddy------------------*/

.aprendemain{
    margin-bottom: 900px;
}
.apredizajezombie{
    display: flex;
    flex-direction: column;

}
    .divisionzombie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
        margin-bottom: 20px;
    }
    .divisionzombieDos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px
    }



    .acordeon{
        width: 70%;
    }
    .list-inline{
        z-index: 1;
    } 
/*-----------------------------fin zombiedaddy------------------*/    
    .enlacesmusicales div{
        display: flex;
        flex-direction: column;
    }
    .enlacesmusicales div div p{
        font-size: 25px;
        text-align: center;
    }
    .enlacesmusicalesuno{

        align-items: center;

    }
    .enlacesmusicales div div{
        display: flex;
        flex-direction: row;
    }
/*---------------------------------------------------MEDIA QUERY ROCK----------------------*/

    .rockgallery .primer-item{
        display: none;
    }
    .rockgallery .segundo-item{
        grid-area: dos;
        display: none;

    }
    .rockgallery .tercer-item{
        display: none;
        
    }
    .rockgallery .cuarto-item{
        grid-area: cuatro;
        display: none;
    }
    .rockgallery .quinto-item{
        grid-area: cinco;
    }
    .rockgallery .sexto-item{
        grid-area: seis;
    }
    .rockgallery .septimo-item{
        grid-area: siete;
    }
    .rockgallery .octavo-item{
        grid-area: ocho;
    }
    .rockgallery .noveno-item{
        grid-area: nueve;
    }
    .rockgallery .decimo-item{
        grid-area: diez;
    }
    .rockgallery .decimoprimer-item{
        grid-area: once;
    }
    .rockgallery .decimosegunto-item{
        grid-area: doce;
    }
    .rockgallery{
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 500px;
    }

/*---------------------------MEDIA QUERY ERAS-------------------------------------*/

    
    .etiquetas div{
        margin: 0 auto;

    }
    .etiquetas div img{
        align-content: start;
    }
    .movimientos h2{
        color: #e61a1a;
        text-shadow: 1px 1px 15px #e61a1a;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .movimientos h2:hover{
        color: transparent;
        text-shadow: 1px 1px 15px black;
        -webkit-text-stroke: 1px #4b4c4d;
    }

/*---------------------media QUERY CONTACTO-----------------------------------*/
    .contacto{
        width: 360px;
        .gifrock{
            display: none;   
        }
        .zombieform{
            width:300px;
            align-items: center;
            margin: 0 auto;
            
        }

    }


    .descripcionzombie{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        .zombiefloat{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    

}

