$color-primario: #e61a1a;
$color-secundario: black;
$color-terciario: white;

/*----- para llamarlos llamarlos por su nombre ($"#") */

$colores: aqua, red, violet, orange, black, white, green,

/*------ para llamarlos nth($colores, -Nº del color por orden)

